.App {
  margin: 50px;
  display: flex;
}

.App div {
  margin-right: 50px;
}
.error {
  border: red 1px solid;
}

.errorMessage {
  display: block;
  color:red;
}


.active-filter {
  background-color: aquamarine;
}

.completed-task {
  color: gray;
  text-decoration: line-through;
}